* {
  font-family: 'Roboto', sans-serif !important;
}

#app {
  display: flex;
}

main {
  display: flex;
}

#channel,
#user {
  width:20vw;
  min-width:250px;
  overflow-x: hidden;
  height: 100vh;
  background: #efefef;
}

#user {
  background: #fafafa;
}

#message {
  width:60vw;
  overflow-x: hidden;
  height: 100vh;
}

#newChannelWrapper,
#newUserWrapper {
  padding: 0 24px;
  margin-top: -15px;
}

#newMessageWrapper {
  background: #fff;
  z-index: 10;
  position: fixed;
  bottom: 0;
  width: 56vw;
  box-sizing: border-box;
  padding: 0 24px;
}

.active {
  background: #ddd;
}
